.topnav {
    background-color: #04AA6D;
    overflow: hidden;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.content {
   display: flex;
   flex-direction: row
}
.divide {
    border-left: 6px solid green;
    height: 500px;
}